@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  background: transparent;
  border: 1px solid #231835;
  border-radius: 0;
  font: inherit;
  outline: none;
  padding: 8px 16px;
}

button {
  border: none;
}

textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text],
input[type=email],
input[type=address],
input[type=tel] {
  width: 100%;
}

input[type=checkbox] {
  /* padding: 8px;
  cursor: pointer; */
  display: none;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.p-404 {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}

.p-404__comment {
  max-width: 750px;
  max-width: 46.875rem;
  width: 100%;
}

.p-404__text {
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-404__text {
    font-size: 1.25rem;
  }
}

.p-company {
  position: relative;
  z-index: 0;
  background: #fff;
  border-radius: 0.9375rem;
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}
@media screen and (min-width: 768px) {
  .p-company {
    padding-top: 4.375rem;
    border-radius: 0;
    background: url(../images/common/bg-company.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.p-company__title-wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-company__title-wrapper {
    margin-top: -7.5rem;
  }
}

.p-company__title {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-width: 15.625rem;
}
@media screen and (min-width: 768px) {
  .p-company__title {
    max-width: 22.5rem;
  }
}

.p-company__title::before {
  padding-top: 21.777%;
  display: block;
  content: "";
}

.p-company__title img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-company__content {
  background: url(../images/common/company-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-company__content {
    padding: 5.125rem 3.25rem;
    margin-top: 6rem;
  }
}

.p-company__subtitle-wrapper {
  text-align: center;
}

.p-company__subtitle {
  letter-spacing: 0.2em;
  color: #231815;
  margin-top: 40px;
  margin-top: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-company__subtitle {
    font-size: 1.375rem;
    font-weight: 400;
  }
}

.p-company__cards {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-company__cards {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-company__cards + .p-company__cards {
    margin-top: 3.75rem;
  }
}

.p-company__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.p-company__card + .p-company__card {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-company__card + .p-company__card {
    margin-top: 0;
    margin-top: initial;
    border-left: 0.5px solid #231815;
  }
}

@media screen and (min-width: 768px) {
  .p-company__card:first-child {
    border-left: 0.5px solid #231815;
  }
}

@media screen and (min-width: 768px) {
  .p-company__card:last-child {
    border-right: 0.5px solid #231815;
  }
}

.p-company__img1 {
  max-width: 165px;
  max-width: 10.3125rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-company__img1::before {
  padding-top: 48.48%;
  display: block;
  content: "";
}

.p-company__img1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-company__img2 {
  max-width: 274px;
  max-width: 17.125rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-company__img2::before {
  padding-top: 29.1797%;
  display: block;
  content: "";
}

.p-company__img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-company__img3 {
  max-width: 274px;
  max-width: 17.125rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-company__img3::before {
  padding-top: 29.1797%;
  display: block;
  content: "";
}

.p-company__img3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-company__img4 {
  max-width: 165px;
  max-width: 10.3125rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-company__img4::before {
  padding-top: 48.48%;
  display: block;
  content: "";
}

.p-company__img4 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-company__img5 {
  max-width: 165px;
  max-width: 10.3125rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-company__img5::before {
  padding-top: 48.48%;
  display: block;
  content: "";
}

.p-company__img5 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-company__name {
  text-align: center;
  margin-top: auto;
  padding-top: 16px;
  padding-top: 1rem;
}

.p-company__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.p-confirm p {
  margin-top: 16px;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-confirm p {
    font-size: 1.25rem;
  }
}

.p-confirm p input {
  margin-left: 16px;
  margin-left: 1rem;
  background: #e9604b;
  color: #fff;
  border: 1px solid #e9604b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .p-confirm p input {
    width: 12.5rem;
  }
}

.p-confirm p input:hover {
  color: #e9604b;
  background: #fff;
}

.p-confirm p input:first-child {
  margin-left: 0;
  margin-left: initial;
}

.p-confirm__title {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.p-consultation {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  background: url(../images/common/bg-consultation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-consultation__content {
  border-radius: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-consultation__sns {
  background: #e9604b;
  padding: 16px;
  padding: 1rem;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
@media screen and (min-width: 768px) {
  .p-consultation__sns {
    padding-top: 3rem;
    padding-bottom: 4.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.9375rem 0 0 0.9375rem;
  }
}

.p-consultation__description {
  text-align: center;
}

.p-consultation__text {
  color: #fff;
  line-height: 2.18118;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__text {
    font-size: 1.375rem;
  }
}

.p-consultation__text span {
  color: #ffef00;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__text span {
    font-size: 1.875rem;
  }
}

.p-consultation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__button {
    margin-top: 3.375rem;
  }
}

.p-consultation__link {
  width: 42px;
  width: 2.625rem;
  height: 42px;
  height: 2.625rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__link {
    width: 5.25rem;
    height: 5.25rem;
  }
}

.p-consultation__contact {
  background: #fff;
  position: relative;
  padding: 16px;
  padding: 1rem;
  border-radius: 0 0 0.9375rem 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__contact {
    padding-top: 0.375rem;
    padding-bottom: 2.3125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0 0.9375rem 0.9375rem 0;
  }
}

.p-consultation__contact::before {
  content: "";
  position: absolute;
  background: url(../images/common/consultation-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  width: 5rem;
  height: 80px;
  height: 5rem;
  bottom: -8%;
  right: 0;
}
@media screen and (min-width: 768px) {
  .p-consultation__contact::before {
    width: 9.8125rem;
    height: 9.8125rem;
    right: 0;
    bottom: -5%;
  }
}

.p-consultation__title {
  max-width: 468px;
  max-width: 29.25rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-consultation__title::before {
  padding-top: 25.9%;
  display: block;
  content: "";
}

.p-consultation__title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-consultation__tel {
  text-align: center;
  position: relative;
}

.p-consultation__tel::before {
  content: "";
  position: absolute;
  background: url(../images/common/conslutation-tel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 46px;
  width: 2.875rem;
  height: 40px;
  height: 2.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
@media screen and (min-width: 768px) {
  .p-consultation__tel::before {
    left: 8%;
  }
}

.p-consultation__number {
  color: #e9604b;
  font-size: 32px;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__number {
    font-size: 2.875rem;
  }
}

.p-consultation__message {
  text-align: center;
}

.p-consultation__message-text {
  margin-top: 27px;
  margin-top: 1.6875rem;
  line-height: 1.4444;
  color: #2e2624;
  text-align: left;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__message-text {
    font-size: 1.125rem;
  }
}

.p-consultation__time {
  margin-top: 21px;
  margin-top: 1.3125rem;
  background-color: #fff47f;
  border-radius: 0.9375rem;
  padding: 14px 10px;
  padding: 0.875rem 0.625rem;
  display: inline-block;
}

.p-consultation__time-text {
  line-height: 1.375;
  color: #231815;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__time-text {
    font-size: 1rem;
  }
}

.p-contact {
  padding-top: 80px;
  padding-top: 5rem;
  padding-bottom: 160px;
  padding-bottom: 10rem;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
  position: relative;
}

.p-contact::before {
  content: "";
  position: absolute;
  background: url(../images/common/bg-page-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .p-contact__text-wrapper {
    margin-left: 2rem;
  }
}

.p-contact__text {
  font-size: 16px;
  font-size: 1rem;
  color: #231815;
}

.p-contact__form {
  margin-top: 80px;
  margin-top: 5rem;
}

.p-drawer-icon {
  position: fixed;
  top: 20px;
  top: 1.25rem;
  left: 20px;
  left: 1.25rem;
  z-index: 10001;
  display: block;
}
@media screen and (min-width: 768px) {
  .p-drawer-icon {
    display: none;
  }
}

.p-drawer-icon.is-active .p-drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 16px;
  top: 1rem;
  background: #fff;
}
.p-drawer-icon.is-active .p-drawer-icon__bar2 {
  display: none;
}
.p-drawer-icon.is-active .p-drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
  top: 1rem;
  background: #fff;
}

.p-drawer-icon__bars {
  width: 22px;
  width: 1.375rem;
  height: 20px;
  height: 1.25rem;
  display: block;
  position: relative;
}

.p-drawer-icon__bar1,
.p-drawer-icon__bar2,
.p-drawer-icon__bar3 {
  position: absolute;
  width: 30px;
  width: 1.875rem;
  height: 2px;
  height: 0.125rem;
  background: #333;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.p-drawer-icon__bar1 {
  top: 0;
}

.p-drawer-icon__bar2 {
  top: 8px;
  top: 0.5rem;
}

.p-drawer-icon__bar3 {
  top: 16px;
  top: 1rem;
}

.p-drawer-content {
  width: 200px;
  width: 12.5rem;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 10000;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  padding-top: 35px;
  padding-top: 2.1875rem;
}

.p-drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-drawer-content__item a {
  display: block;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
  text-transform: capitalize;
}

.p-drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 9999;
  display: none;
}

.p-drawer-background.is-active {
  display: block;
}

.p-footer {
  margin-top: 70px;
  margin-top: 4.375rem;
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  position: relative;
}

.p-footer::before {
  content: "";
  position: absolute;
  background: url(../images/common/bg-footer.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  top: -136px;
  top: -8.5rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
  height: 150px;
  height: 9.375rem;
}

.p-footer__content {
  margin-top: -240px;
  margin-top: -15rem;
}

.p-footer__img {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-width: 15.625rem;
}
@media screen and (min-width: 768px) {
  .p-footer__img {
    max-width: 29.25rem;
  }
}

.p-footer__img::before {
  padding-top: 93.16%;
  display: block;
  content: "";
}

.p-footer__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-footer__lists {
  text-align: center;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-footer__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
    background-image: linear-gradient(to right, #e9604b 4px, transparent 4px);
    background-size: 12px 4px;
    background-repeat: repeat-x;
    background-position: right bottom;
    padding-bottom: 2.5rem;
  }
}

.p-footer__list + .p-footer__list {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-footer__list + .p-footer__list {
    margin-top: 0;
    margin-top: initial;
    margin-left: 5.75rem;
  }
}

.p-footer__link {
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  color: #231815;
}

.p-footer__small-wrapper {
  text-align: center;
  color: #231815;
  margin-top: 48px;
  margin-top: 3rem;
}

.p-footer__bottom {
  letter-spacing: 0.1em;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-footer__bottom {
    font-size: 1.375rem;
  }
}

.p-footer__small {
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .p-footer__small {
    font-size: 1.125rem;
  }
}

.p-form {
  border: 1px solid #231815;
  padding: 16px;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .p-form {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 768px) {
  .p-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.p-form__row + .p-form__row {
  margin-top: 12px;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .p-form__row + .p-form__row {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-form__title {
    width: 18.75rem;
    padding-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-form__title label {
  font-size: 16px;
  font-size: 1rem;
  color: #231815;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-form__title label {
    font-weight: 400;
  }
}

.p-form__input {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-form__input {
    margin-top: 0;
    margin-top: initial;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-form__input--textarea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-form__sex,
.p-form__date {
    width: 30%;
  }
}

.p-form__input--age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-form__age-after {
  margin-left: 16px;
  margin-left: 1rem;
  display: inline-block;
}

.p-form__attention {
  margin-top: 8px;
  margin-top: 0.5rem;
  font-size: 16px;
  font-size: 1rem;
  color: #231815;
}

.p-form__check-label:first-child {
  margin-right: 16px;
  margin-right: 1rem;
}

.p-form__check-label + .p-form__check-label {
  margin-right: 16px;
  margin-right: 1rem;
}

.p-form__check-label:last-child {
  margin-right: 0;
  margin-right: initial;
}

.p-form__check-text {
  font-size: 16px;
  font-size: 1rem;
  color: #231815;
  margin-top: 8px;
  margin-top: 0.5rem;
}

.p-form__input--other {
  width: 80% !important;
}

.p-form__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-form__button {
  margin-top: 40px;
  margin-top: 2.5rem;
  text-align: center;
}

.p-form__button input {
  width: 220px;
  width: 13.75rem;
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  background: #e9604b;
  padding: 20px 0;
  padding: 1.25rem 0;
  border: 1px solid #e9604b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-form__button input:hover {
  background: #fff;
  color: #e9604b;
}

@media screen and (min-width: 768px) {
  .wpcf7-form-control-wrap {
    width: 100%;
  }
}

.has-free-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 6px !important;
  margin-top: 0.375rem !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.has-free-text label {
  width: 120px;
  width: 7.5rem;
}

.wpcf7-free-text {
  margin-left: 8px;
  margin-left: 0.5rem;
}

.wpcf7-list-item.first {
  margin-left: 0;
  margin-left: initial;
}

.wpcf7-list-item {
  margin-left: 0;
  margin-left: initial;
  margin-right: 16px;
  margin-right: 1rem;
}

.wpcf7-list-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wpcf7-list-item-label {
  line-height: 0;
  padding-left: 4px;
  padding-left: 0.25rem;
}

.p-form__required {
  color: #fff;
  background: #e9604b;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 4px 8px;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-left: 16px;
  margin-left: 1rem;
}

.p-form__required--gray {
  background-color: rgba(35, 24, 21, .5);
}

.p-form__required--green {
  background: #8bc777;
}

@media screen and (min-width: 768px) {
  .your-age,
.your-age2 {
    width: 15%;
  }
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-form-control.wpcf7-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

span.wpcf7-list-item {
  position: relative;
  margin-top: 16px;
  margin-top: 1rem;
  margin-right: 24px;
  margin-right: 1.5rem;
}

.wpcf7-list-item-label {
  /*項目の色や文字サイズ*/
  color: #231815;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  /*既存のチェックボックスを見えなくする*/
}

.wpcf7-list-item-label:before {
  /*チェックボックスの枠*/
  content: "";
  border: 1px solid #231815;
  display: inline-block;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  position: relative;
  top: -2px;
  top: -0.125rem;
  margin-right: 12px;
  margin-right: 0.75rem;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}

input[type=checkbox]:checked + .wpcf7-list-item-label:after {
  /*チェックアイコン*/
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  top: -0.25rem;
  left: 3px;
  left: 0.1875rem;
  width: 20px;
  width: 1.25rem;
  height: 12px;
  height: 0.75rem;
  border-left: 2px solid #231815;
  border-bottom: 2px solid #231815;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.has-free-text input[type=checkbox]:checked + .wpcf7-list-item-label:after {
  /*チェックアイコン*/
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  top: 0.4375rem;
  left: 3px;
  left: 0.1875rem;
  width: 20px;
  width: 1.25rem;
  height: 12px;
  height: 0.75rem;
  border-left: 2px solid #231815;
  border-bottom: 2px solid #231815;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-goods {
  padding-top: 75px;
  padding-top: 4.6875rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  background: url(../images/common/bg-goods.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-goods__title {
  font-size: 20px;
  font-size: 1.25rem;
  color: #ffef00;
  background-color: #e9604b;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  padding: 12px 0;
  padding: 0.75rem 0;
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-goods__title {
    font-size: 2.125rem;
  }
}

.p-goods__img {
  margin-top: 48px;
  margin-top: 3rem;
  width: 100%;
  position: relative;
}

.p-goods__img::before {
  padding-top: 43.05%;
  display: block;
  content: "";
}

.p-goods__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-goods__img2 {
  margin-top: 30px;
  margin-top: 1.875rem;
  width: 100%;
  position: relative;
}

.p-goods__img2::before {
  padding-top: 29.03%;
  display: block;
  content: "";
}

.p-goods__img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-header {
  background: url(../images/common/bg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  height: 4.375rem;
  position: fixed;
  top: -3px;
  top: -0.1875rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

.p-header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__nav {
    display: block;
  }
}

.p-header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 70px;
  line-height: 4.375rem;
}

.p-header__list + .p-header__list {
  margin-left: min(85px, 6.2225475842vw);
  margin-left: min(5.3125rem, 6.2225475842vw);
}

.p-header__link {
  color: #e9604b;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.p-header__btn {
  display: inline-block;
  position: absolute;
  right: 20px;
  right: 1.25rem;
  top: 0;
  z-index: 10;
  width: 120px;
  width: 7.5rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  .p-header__btn {
    width: min(15.625rem, 18.3016105417vw);
    height: min(6.25rem, 18.3016105417vw);
  }
}

.p-heart {
  padding-top: 70px;
  padding-top: 4.375rem;
  background: url(../images/common/bg-heart.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-heart {
    padding-bottom: 4.375rem;
  }
}

.p-heart__content {
  text-align: center;
}

.p-heart__img {
  max-width: 257px;
  max-width: 16.0625rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-heart__img::before {
  padding-top: 51.361%;
  display: block;
  content: "";
}

.p-heart__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-heart__text {
  letter-spacing: 0.075em;
  line-height: 1.5;
  color: #231815;
  margin-top: 8px;
  margin-top: 0.5rem;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-heart__text {
    font-size: 1.625rem;
  }
}

.p-heart__text--red {
  color: #e9604b;
  letter-spacing: 0.075em;
  margin-top: 8px;
  margin-top: 0.5rem;
  font-size: 22px;
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .p-heart__text--red {
    font-size: 2.375rem;
  }
}

.p-home {
  padding-bottom: 80px;
  padding-bottom: 5rem;
  max-width: 920px;
  max-width: 57.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-home__row {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-home__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-home__row + .p-home__row {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .p-home__title {
    width: 12.5rem;
  }
}

.p-home__date {
  font-size: 18px;
  font-size: 1.125rem;
  color: #e9604b;
}

@media screen and (min-width: 768px) {
  .p-home__description {
    width: calc(100% - 15.625rem);
  }
}

.p-home__text {
  font-size: 18px;
  font-size: 1.125rem;
  color: #231815;
}

.p-home__link {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.p-how {
  background: #fff;
  border-radius: 1.25rem;
  padding: 16px;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .p-how {
    padding-top: 7rem;
    padding-bottom: 4.375rem;
    background: url(../images/common/bg-how.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
}

.p-how__content {
  max-width: 1047px;
  max-width: 65.4375rem;
  width: 100%;
  border-radius: 1.5625rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-how__content {
    margin-top: -2.5rem;
  }
}

.p-how__title {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-width: 15.625rem;
}
@media screen and (min-width: 768px) {
  .p-how__title {
    max-width: 24.1875rem;
  }
}

.p-how__title::before {
  padding-top: 21.188%;
  display: block;
  content: "";
}

.p-how__title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-how__detail {
  background: url(../images/common/how-wrapper-background.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-how__detail {
    padding-top: 5rem;
    padding-bottom: 2.6875rem;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    max-width: 65.4375rem;
    width: 100%;
    margin-top: -3rem;
  }
}

.p-how__description {
  text-align: center;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  background-image: linear-gradient(to right, #e9604b 4px, transparent 4px);
  background-size: 12px 4px;
  background-repeat: repeat-x;
  background-position: right bottom;
}

.p-how__annotation {
  margin-top: 28px;
  margin-top: 1.75rem;
  text-align: center;
}

.p-how__btn {
  margin-top: 60px;
  margin-top: 3.75rem;
  text-align: center;
}

.p-how__link {
  display: inline-block;
  width: 300px;
  width: 18.75rem;
}
@media screen and (min-width: 768px) {
  .p-how__link {
    width: 23.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-information__wrapper {
    max-width: 26.25rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-information__row {
  margin-top: 16px;
  margin-top: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-information__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.4375rem;
  }
}

.p-information__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .p-information__time-wrapper {
    width: 6.25rem;
  }
}

.p-information__time {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #e9604b;
}

@media screen and (min-width: 768px) {
  .p-information__description-wrapper {
    width: calc(100% - 6.25rem);
    margin-left: 0.5rem;
  }
}

.p-information__description {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.4117;
  color: #2e2624;
}

.p-link {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 160px;
  padding-bottom: 10rem;
  background: url(../images/common/bg-prize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-link {
    padding-bottom: 13.125rem;
  }
}

.p-link__title-wrapper {
  text-align: center;
}

.p-link__title {
  max-width: 250px;
  max-width: 15.625rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-link__title {
    max-width: 22.5rem;
  }
}

.p-link__title::before {
  padding-top: 21.777%;
  display: block;
  content: "";
}

.p-link__title img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-link__content {
  background: #fff;
  border-radius: 1.25rem;
  padding: 16px;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .p-link__content {
    background: url(../images/common/company-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0;
    padding: 5.125rem 3.25rem;
    margin-top: -4.625rem;
  }
}

.p-link__cards {
  margin-top: 56px;
  margin-top: 3.5rem;
}

.p-link__card {
  background-image: linear-gradient(to right, #231815 6px, transparent 4px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: right bottom;
  padding-top: 28px;
  padding-top: 1.75rem;
  padding-bottom: 28px;
  padding-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .p-link__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.75rem 0;
  }
}

.p-link__img {
  width: 100%;
  position: relative;
  border: 1px solid #cbcbcb;
}
@media screen and (min-width: 768px) {
  .p-link__img {
    max-width: 15.625rem;
  }
}

.p-link__img::before {
  padding-top: 40%;
  display: block;
  content: "";
}

.p-link__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-link__detail {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-link__detail {
    margin-top: 0;
    margin-top: initial;
    margin-left: 3rem;
  }
}

.p-link__link {
  color: #148ec7;
  text-decoration: underline;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-link__link {
    font-size: 1.375rem;
  }
}

.p-link__text {
  line-height: 1.7777;
  color: #231815;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-link__text {
    font-size: 1.125rem;
  }
}

.p-mv {
  background: url(../images/common/mv.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  height: min(1100px, 80.5270863836vw);
  height: min(68.75rem, 80.5270863836vw);
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-mv {
    /* height: rem(1100); */
    margin-top: 0;
    margin-top: initial;
  }
}

.p-news {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}

@media screen and (min-width: 768px) {
  .p-news__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-news__title {
  max-width: 385px;
  max-width: 24.0625rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-news__title::before {
  padding-top: 25.2%;
  display: block;
  content: "";
}

.p-news__title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-news__btn-wrapper {
  text-align: right;
  position: relative;
  margin-top: 44px;
  margin-top: 2.75rem;
}

.p-news__btn-wrapper::before {
  content: "";
  position: absolute;
}

.p-news__btn {
  font-size: 16px;
  font-size: 1rem;
  color: #e9604b;
  letter-spacing: 0.1em;
  display: inline-block;
}

.p-news__tweet {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-news__tweet {
    margin-top: 0;
    margin-top: initial;
    margin-left: 4.1875rem;
  }
}

.p-news__img {
  margin-top: 24px;
  margin-top: 1.5rem;
  max-width: 489px;
  max-width: 30.5625rem;
  width: 100%;
  position: relative;
}

.p-news__img::before {
  padding-top: 33.3333%;
  display: block;
  content: "";
}

.p-news__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-page-footer {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}

.p-page-footer__img {
  max-width: 468px;
  max-width: 29.25rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-page-footer__img::before {
  padding-top: 93.16%;
  display: block;
  content: "";
}

.p-page-footer__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-page-footer__lists {
  text-align: center;
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-page-footer__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

.p-page-footer__list + .p-page-footer__list {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-page-footer__list + .p-page-footer__list {
    margin-top: 0;
    margin-top: initial;
    margin-left: 5.75rem;
  }
}

.p-page-footer__link {
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  color: #231815;
}

.p-page-footer__small-wrapper {
  text-align: center;
  color: #231815;
  margin-top: 48px;
  margin-top: 3rem;
}

.p-page-footer__bottom {
  letter-spacing: 0.1em;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-page-footer__bottom {
    font-size: 1.375rem;
  }
}

.p-page-footer__small {
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .p-page-footer__small {
    font-size: 1.125rem;
  }
}

.p-page-mv {
  background: url(../images/common/bg-page-mv.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-top: 4.375rem;
  padding: 40px 0;
  padding: 2.5rem 0;
  text-align: center;
}

.p-page-mv__title {
  font-size: 24px;
  font-size: 1.5rem;
  color: #2e2624;
  background: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 1.25rem;
  padding: 16px 0;
  padding: 1rem 0;
  width: 300px;
  width: 18.75rem;
}
@media screen and (min-width: 768px) {
  .p-page-mv__title {
    width: 45rem;
    padding: 2rem 0;
  }
}

.p-page-news {
  padding-top: 80px;
  padding-top: 5rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
  position: relative;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}

.p-page-news::before {
  content: "";
  position: absolute;
  background: url(../images/common/bg-page-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.p-policy {
  padding-top: 80px;
  padding-top: 5rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
  position: relative;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .p-policy {
    padding-bottom: 12.5rem;
  }
}

.p-policy::before {
  content: "";
  position: absolute;
  background: url(../images/common/bg-page-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.p-policy__content {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-policy__content {
    padding-bottom: 0;
    padding-bottom: initial;
  }
}

.p-policy__detail + .p-policy__detail {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.p-policy__text {
  margin-top: 16px;
  margin-top: 1rem;
}

.p-prize {
  background: #fff;
  border-radius: 1.25rem;
  padding: 32px 16px;
  padding: 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .p-prize {
    padding-top: 6rem;
    padding-bottom: 4.375rem;
    padding-left: 0;
    padding-left: initial;
    padding-right: 0;
    padding-right: initial;
    background: url(../images/common/bg-prize.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
}

.p-prize__title-wrapper {
  text-align: center;
}

.p-prize__title {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-width: 15.625rem;
}
@media screen and (min-width: 768px) {
  .p-prize__title {
    max-width: 22.5rem;
    margin-top: -7.5rem;
  }
}

.p-prize__title::before {
  padding-top: 21.777%;
  display: block;
  content: "";
}

.p-prize__title img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-prize__content {
  background: url(../images/common/prize-content-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-prize__content {
    padding: 5.125rem 3.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-prize__tops {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.625rem;
    margin-top: 3rem;
  }
}

.p-prize__top {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-prize__top {
    margin-top: 0;
    margin-top: initial;
  }
}

.p-prize__detail {
  text-align: center;
  margin-top: 32px;
  margin-top: 2rem;
}

.p-prize__description {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.p-prize__sponsor {
  margin-top: 77px;
  margin-top: 4.8125rem;
}

.p-prize__img {
  max-width: 415px;
  max-width: 25.9375rem;
  width: 100%;
  position: relative;
}

.p-prize__img::before {
  padding-top: 61.92%;
  display: block;
  content: "";
}

.p-prize__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-single {
  padding-top: 56px;
  padding-top: 3.5rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
  position: relative;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .p-single {
    padding-top: 5rem;
  }
}

.p-single::before {
  content: "";
  position: absolute;
  background: url(../images/common/bg-page-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  height: 5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.p-single__title {
  text-align: left;
}

.p-single__date-wrapper {
  font-size: 14px;
  font-size: 0.875rem;
  color: #e9604b;
}

.p-single h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 20px;
  margin-top: 1.25rem;
  color: #2e2624;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .p-single h2 {
    padding-bottom: 2.5rem;
  }
}

.p-single p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #2e2624;
  line-height: 1.5;
  padding-top: 16px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-single p {
    padding-top: 2.5rem;
  }
}

.p-single img {
  max-width: 500px;
  max-width: 31.25rem;
  width: 100%;
  margin-top: 56px;
  margin-top: 3.5rem;
  border: 1px solid #ccc;
}

.p-single__btn-wrapper {
  text-align: right;
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .p-single__btn-wrapper {
    margin-top: 7.5rem;
    margin-bottom: 4rem;
  }
}

.p-single__btn {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  color: #e9604b;
}

.p-sponsor__title-wrapper {
  text-align: left;
}

.p-sponsor__title {
  font-size: 22px;
  font-size: 1.375rem;
  color: #231815;
  letter-spacing: 0.2em;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .p-sponsor__content {
    margin-top: 2.5rem;
  }
}

.p-sponsor__row {
  padding-top: 28px;
  padding-top: 1.75rem;
  padding-bottom: 28px;
  padding-bottom: 1.75rem;
  background-image: linear-gradient(to right, #231815 6px, transparent 4px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: right top;
}
@media screen and (min-width: 768px) {
  .p-sponsor__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-sponsor__img {
  max-width: 320px;
  max-width: 20rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-sponsor__img {
    margin-left: 0;
    margin-left: initial;
    margin-right: 0;
    margin-right: initial;
  }
}

.p-sponsor__img::before {
  padding-top: 68.125%;
  display: block;
  content: "";
}

.p-sponsor__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-sponsor__img--shower {
  max-width: 260px;
  max-width: 16.25rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-sponsor__img--shower {
    margin-left: 2rem;
    margin-right: 0;
    margin-right: initial;
  }
}

.p-sponsor__img--shower::before {
  padding-top: 100%;
  display: block;
  content: "";
}

.p-sponsor__img--shower img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-sponsor__detail {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-sponsor__detail {
    margin-top: 0;
    margin-top: initial;
    margin-left: 2.75rem;
  }
}

@media screen and (min-width: 768px) {
  .p-sponsor__detail--shower {
    margin-left: 4.5rem;
  }
}

.p-sponsor__img--drink {
  max-width: 75px;
  max-width: 4.6875rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-sponsor__img--drink {
    margin-left: 7.5rem;
    margin-right: 0;
    margin-right: initial;
  }
}

.p-sponsor__img--drink::before {
  padding-top: 320%;
  display: block;
  content: "";
}

.p-sponsor__img--drink img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .p-sponsor__detail--drink {
    margin-left: 10.625rem;
  }
}

.p-subject {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  background: url(../images/common/bg-subject.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.p-subject::before {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-subject::before {
    display: block;
    position: absolute;
    content: "";
    background: url(../images/common/heart-mark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 8.75rem;
    height: 12.5625rem;
    top: 38%;
    right: 0.625rem;
  }
}

.p-subject::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-subject::after {
    display: block;
    position: absolute;
    content: "";
    background: url(../images/common/heart-mark-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5.25rem;
    height: 4.4375rem;
    bottom: 7%;
    left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .p-subject__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-subject__text-wrapper {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-subject__text {
  line-height: 1.7272;
  color: #231815;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-subject__text {
    font-size: 1.375rem;
  }
}

.p-subject__img {
  max-width: 515px;
  max-width: 32.1875rem;
  width: 100%;
  position: relative;
  margin-top: 16px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-subject__img {
    margin-left: 1.875rem;
    margin-top: 0;
    margin-top: initial;
    margin-right: 0;
    margin-right: initial;
  }
}

.p-subject__img::before {
  padding-top: 109.7%;
  display: block;
  content: "";
}

.p-subject__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-subject__description {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #231815;
}
@media screen and (min-width: 768px) {
  .p-subject__description {
    padding-bottom: 0;
    padding-bottom: initial;
  }
}

.p-subject__detail {
  margin-top: 66px;
  margin-top: 4.125rem;
}

.p-subject__row {
  margin-top: 16px;
  margin-top: 1rem;
  background-image: linear-gradient(to right, #231815 6px, transparent 4px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: right bottom;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .p-subject__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
    margin-top: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-subject__title {
    width: 12.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-subject__explain {
    width: calc(100% - 12.5rem);
    margin-left: 2.5rem;
  }
}

.p-subject__explain--top {
  background-image: linear-gradient(to right, #e9604b 4px, transparent 4px);
  background-size: 12px 4px;
  background-repeat: repeat-x;
  background-position: right bottom;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}

.p-subject__explain--bottom {
  padding-top: 24px;
  padding-top: 1.5rem;
}

.p-subject__btn {
  text-align: center;
  margin-top: 60px;
  margin-top: 3.75rem;
}

.p-subject__btn-link {
  display: inline-block;
  width: 300px;
  width: 18.75rem;
}
@media screen and (min-width: 768px) {
  .p-subject__btn-link {
    width: 23.875rem;
  }
}

.p-subject__pdf {
  display: inline-block;
  color: #fff;
  background-color: #e9604b;
  text-align: center;
  padding: 20px 0;
  padding: 1.25rem 0;
  width: 100%;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .p-subject__pdf {
    font-size: 1.375rem;
    width: 20rem;
    margin-bottom: 0;
    margin-bottom: initial;
  }
}

.p-thanks {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-thanks {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    max-width: 40.625rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-thanks__comment {
  text-align: center;
}

.p-thanks__text {
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-thanks__text {
    font-size: 1.25rem;
    line-height: 2;
  }
}

.p-totop {
  position: fixed;
  bottom: 40px;
  bottom: 2.5rem;
  right: 20px;
  right: 1.25rem;
  z-index: 999;
}

.c-contact-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 10px 24px;
  padding: 0.625rem 1.5rem;
  background-color: #e8604b;
}

.c-contact-title--green {
  background-color: #8bc777;
}

.c-how-annotation {
  line-height: 1.33333;
  color: #e40012;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-how-annotation {
    font-size: 1.125rem;
  }
}

.c-how-description {
  line-height: 1.3636;
  color: #231815;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-how-description {
    font-size: 1.375rem;
  }
}

.c-policy-text {
  font-size: 16px;
  font-size: 1rem;
  color: #2e2624;
  line-height: 1.833;
}

.c-policy-title {
  font-size: 20px;
  font-size: 1.25rem;
  color: #2e2624;
  font-weight: 400;
}

.c-prize-description {
  line-height: 1.4545;
  color: #231815;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-prize-description {
    font-size: 1.375rem;
  }
}

.c-prize-title {
  color: #e9604b;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-prize-title {
    font-size: 1.375rem;
  }
}

.c-subject-text {
  color: #231815;
  line-height: 1.72727;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-subject-text {
    font-size: 1.375rem;
  }
}

.c-subject-text--small {
  color: #231815;
  line-height: 1.333;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-subject-text--small {
    font-size: 1.125rem;
  }
}

.c-subject-text--red {
  color: #e9604b;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-subject-text--red {
    font-size: 1.875rem;
  }
}

.c-subject-text--smallRed {
  color: #e9604b;
  line-height: 1.727;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-subject-text--smallRed {
    font-size: 1.375rem;
  }
}

.c-subject-text--other {
  color: #231815;
  line-height: 2;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-subject-text--other {
    font-size: 1.125rem;
  }
}

.c-subject-title {
  letter-spacing: 0.2em;
  color: #231815;
  line-height: 1.3636;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-subject-title {
    font-size: 1.375rem;
  }
}

.c-totop img {
  width: 88px;
  width: 5.5rem;
  height: 74px;
  height: 4.625rem;
}
/*# sourceMappingURL=styles.css.map */
