@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.p-consultation {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  background: #ffef00;
}

.p-consultation__content {
  border-radius: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-consultation__sns {
  background: #e9604b;
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  padding-left: 50px;
  padding-left: 3.125rem;
  padding-right: 50px;
  padding-right: 3.125rem;
  border-radius: 0.9375rem 0 0 0.9375rem;
}

.p-consultation__description {
  text-align: center;
}

.p-consultation__text {
  color: #fff;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.18118;
}

.p-consultation__text span {
  color: #ffef00;
  font-size: 30px;
  font-size: 1.875rem;
}

.p-consultation__button {
  margin-top: 54px;
  margin-top: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-consultation__link {
  width: 42px;
  width: 2.625rem;
  height: 42px;
  height: 2.625rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__link {
    width: 5.25rem;
    height: 5.25rem;
  }
}

.p-consultation__contact {
  background: #fff;
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-bottom: 37px;
  padding-bottom: 2.3125rem;
  padding-left: 24px;
  padding-left: 1.5rem;
  padding-right: 24px;
  padding-right: 1.5rem;
  position: relative;
}

.p-consultation__contact::before {
  content: "";
  position: absolute;
  background: url(../images/common/consultation-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  width: 5rem;
  height: 80px;
  height: 5rem;
}
@media screen and (min-width: 768px) {
  .p-consultation__contact::before {
    width: 9.8125rem;
    height: 9.8125rem;
    right: 0;
    bottom: -5%;
  }
}

.p-consultation__title {
  max-width: 468px;
  max-width: 29.25rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-consultation__title::before {
  padding-top: 25.9%;
  display: block;
  content: "";
}

.p-consultation__title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-consultation__tel {
  text-align: center;
  position: relative;
}

.p-consultation__tel::before {
  content: "";
  position: absolute;
  background: url(../images/common/conslutation-tel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 46px;
  width: 2.875rem;
  height: 40px;
  height: 2.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8%;
}

.p-consultation__number {
  font-size: 46px;
  font-size: 2.875rem;
  color: #e9604b;
}

.p-consultation__message {
  text-align: center;
}

.p-consultation__message-text {
  margin-top: 27px;
  margin-top: 1.6875rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4444;
  color: #2e2624;
  text-align: left;
}

.p-consultation__time {
  margin-top: 21px;
  margin-top: 1.3125rem;
  background-color: #fff47f;
  border-radius: 0.9375rem;
  padding: 14px 10px;
  padding: 0.875rem 0.625rem;
  display: inline-block;
}

.p-consultation__time-text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375;
  color: #231815;
}

.p-goods {
  padding-top: 75px;
  padding-top: 4.6875rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}

.p-goods__title {
  color: #ffef00;
  background-color: #e9604b;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  padding: 12px 0;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 400;
}

.p-goods__img {
  margin-top: 48px;
  margin-top: 3rem;
  width: 100%;
  position: relative;
}

.p-goods__img::before {
  padding-top: 43.05%;
  display: block;
  content: "";
}

.p-goods__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-goods__img2 {
  margin-top: 30px;
  margin-top: 1.875rem;
  width: 100%;
  position: relative;
}

.p-goods__img2::before {
  padding-top: 29.03%;
  display: block;
  content: "";
}

.p-goods__img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-header {
  background: url(../images/common/bg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  height: 4.375rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

.p-header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 70px;
  line-height: 4.375rem;
}

.p-header__list + .p-header__list {
  margin-left: 85px;
  margin-left: 5.3125rem;
}

.p-header__link {
  color: #e9604b;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.p-header__btn {
  position: absolute;
  right: 20px;
  right: 1.25rem;
  top: 0;
  z-index: 10;
  width: 250px;
  width: 15.625rem;
  height: 100px;
  height: 6.25rem;
}

.p-how {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  background: #c2c2c2;
}

.p-how__content {
  max-width: 1047px;
  max-width: 65.4375rem;
  width: 100%;
  border-radius: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-how__content {
    margin-top: -2.5rem;
  }
}

.p-how__title {
  max-width: 387px;
  max-width: 24.1875rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-how__title::before {
  padding-top: 21.188%;
  display: block;
  content: "";
}

.p-how__title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-how__detail {
  background: url(../images/common/how-wrapper-background.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .p-how__detail {
    padding-top: 5rem;
    padding-bottom: 2.6875rem;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    max-width: 65.4375rem;
    width: 100%;
  }
}

.p-how__description {
  text-align: center;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

.p-how__annotation {
  margin-top: 28px;
  margin-top: 1.75rem;
  text-align: center;
}

.p-how__btn {
  margin-top: 60px;
  margin-top: 3.75rem;
  text-align: center;
}

.p-how__link {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .p-how__link {
    width: 23.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-information__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .p-information__time-wrapper {
    width: 6.25rem;
  }
}

.p-information__time {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #e9604b;
}

@media screen and (min-width: 768px) {
  .p-information__description-wrapper {
    width: calc(100% - 6.25rem);
    margin-left: 0.5rem;
  }
}

.p-information__description {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.4117;
  color: #2e2624;
}

.p-mv {
  background: url(../images/common/mv.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 1200px;
  height: 75rem;
}

.p-news {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}

@media screen and (min-width: 768px) {
  .p-news__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-news__title {
  max-width: 385px;
  max-width: 24.0625rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-news__title::before {
  padding-top: 25.2%;
  display: block;
  content: "";
}

.p-news__title img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-news__btn-wrapper {
  text-align: right;
  position: relative;
  margin-top: 44px;
  margin-top: 2.75rem;
}

.p-news__btn-wrapper::before {
  content: "";
  position: absolute;
}

.p-news__btn {
  font-size: 16px;
  font-size: 1rem;
  color: #e9604b;
  letter-spacing: 0.1em;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .p-news__tweet {
    margin-left: 4.1875rem;
  }
}

.p-news__img {
  margin-top: 24px;
  margin-top: 1.5rem;
  max-width: 489px;
  max-width: 30.5625rem;
  width: 100%;
  position: relative;
}

.p-news__img::before {
  padding-top: 33.3333%;
  display: block;
  content: "";
}

.p-news__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-prize {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  background: coral;
}

.p-prize__title-wrapper {
  text-align: center;
}

.p-prize__title {
  max-width: 360px;
  max-width: 22.5rem;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p-prize__title::before {
  padding-top: 21.777%;
  display: block;
  content: "";
}

.p-prize__title img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-prize__content {
  background: url(../images/common/prize-content-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-prize__content {
    padding: 5.125rem 3.25rem;
    margin-top: -4.625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-prize__tops {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.625rem;
  }
}

.p-prize__detail {
  text-align: center;
}

.p-prize__description {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.p-prize__detail--second {
  margin-top: 32px;
  margin-top: 2rem;
}

.p-prize__sponsor {
  margin-top: 77px;
  margin-top: 4.8125rem;
}

.p-sponsor__title-wrapper {
  text-align: left;
}

.p-sponsor__title {
  font-size: 22px;
  font-size: 1.375rem;
  color: #231815;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.p-sponsor__row {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-sponsor__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-sponsor__img {
  max-width: 320px;
  max-width: 20rem;
  width: 100%;
  position: relative;
}

.p-sponsor__img::before {
  padding-top: 68.125%;
  display: block;
  content: "";
}

.p-sponsor__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-sponsor__img--shower {
  max-width: 260px;
  max-width: 16.25rem;
  width: 100%;
  position: relative;
  margin-left: 32px;
  margin-left: 2rem;
}

.p-sponsor__img--shower::before {
  padding-top: 100%;
  display: block;
  content: "";
}

.p-sponsor__img--shower img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .p-sponsor__detail {
    margin-left: 2.75rem;
  }
}

@media screen and (min-width: 768px) {
  .p-sponsor__detail--shower {
    margin-left: 4.5rem;
  }
}

.p-sponsor__img--drink {
  max-width: 75px;
  max-width: 4.6875rem;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-sponsor__img--drink {
    margin-left: 7.5rem;
  }
}

.p-sponsor__img--drink::before {
  padding-top: 320%;
  display: block;
  content: "";
}

.p-sponsor__img--drink img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .p-sponsor__detail--drink {
    margin-left: 10.625rem;
  }
}

.p-subject {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
}

@media screen and (min-width: 768px) {
  .p-subject__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-subject__text-wrapper {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-subject__text {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.7272;
  color: #231815;
}

.p-subject__img {
  max-width: 515px;
  max-width: 32.1875rem;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-subject__img {
    margin-left: 1.875rem;
  }
}

.p-subject__img::before {
  padding-top: 109.7%;
  display: block;
  content: "";
}

.p-subject__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-subject__detail {
  margin-top: 66px;
  margin-top: 4.125rem;
}

@media screen and (min-width: 768px) {
  .p-subject__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-subject__title {
    width: 12.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-subject__explain {
    width: calc(100% - 12.5rem);
    margin-left: 2.5rem;
  }
}

.p-subject__btn {
  text-align: center;
  margin-top: 60px;
  margin-top: 3.75rem;
}

.p-subject__btn-link {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .p-subject__btn-link {
    width: 23.875rem;
  }
}

.c-how-annotation {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  color: #e40012;
}

.c-how-description {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.3636;
  color: #231815;
}

.c-prize-description {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.4545;
  color: #231815;
}

.c-prize-title {
  font-size: 22px;
  font-size: 1.375rem;
  color: #e9604b;
}

.c-subject-text {
  font-size: 22px;
  font-size: 1.375rem;
  color: #231815;
  line-height: 1.72727;
}

.c-subject-text--small {
  font-size: 18px;
  font-size: 1.125rem;
  color: #231815;
  line-height: 1.333;
}

.c-subject-text--red {
  color: #e9604b;
  font-size: 30px;
  font-size: 1.875rem;
}

.c-subject-text--smallRed {
  font-size: 22px;
  font-size: 1.375rem;
  color: #e9604b;
  line-height: 1.727;
}

.c-subject-text--other {
  font-size: 18px;
  font-size: 1.125rem;
  color: #231815;
  line-height: 2;
}

.c-subject-title {
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 0.2em;
  color: #231815;
  line-height: 1.3636;
}
/*# sourceMappingURL=styles.css.map */
