@use "global" as *;

.c-subject-text {
  font-size: rem(22);
  color: #231815;
  line-height: 1.72727;
}
.c-subject-text--small {
  font-size: rem(18);
  color: #231815;
  line-height: 1.333;
}
.c-subject-text--red {
  color: $red;
  font-size: rem(30);
}
.c-subject-text--smallRed {
  font-size: rem(22);
  color: $red;
  line-height: 1.727;
}
.c-subject-text--other {
  font-size: rem(18);
  color: #231815;
  line-height: 2;
}