@use "global" as *;

.c-subject-title {
  letter-spacing: 0.2em;
  color: #231815;
  line-height: 1.3636;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(22);
  }
}
.c-subject-title--small {
  font-size: rem(14);
  line-height: 1.8;
  @include mq(md) {
    font-size: rem(18);
  }
}
