@use "global" as *;

.p-404 {
  padding-top: rem(40);
  padding-bottom: rem(40);
}
.p-404__comment {
  max-width: rem(750);
  width: 100%;
}
.p-404__text {
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(20);
  }
}
