@use "global" as *;

.p-company {
  position: relative;
  z-index: 0;
  background: $white;
  padding-top: rem(40);
  padding-bottom: rem(70);
  background: url(../images/common/bg-company.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(md) {
    padding-top: rem(70);
    border-radius: 0;
  }
}
.p-company__title-wrapper {
  text-align: center;
  @include mq(md) {
    margin-top: rem(-120);
  }
}
.p-company__title {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(250);
  @include mq(md) {
    max-width: rem(360);
  }
}
.p-company__title::before {
  padding-top: 21.777%;
  display: block;
  content: "";
}
.p-company__title img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__content {
  background-color: $white;
  padding: rem(24) rem(16);
  border-radius: rem(10);
  @include mq(md) {
    padding: rem(82) rem(52);
    background: url(../images/common/company-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: rem(96);
    border-radius: 0;
  }
}
.p-company__subtitle-wrapper {
  text-align: center;
}
.p-company__subtitle {
  letter-spacing: 0.2em;
  color: #231815;
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: 700;
  @include mq(md) {
    font-size: rem(22);
    font-weight: 400;
  }
}
.p-company__cards {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(56);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(32);
  }
}
.p-company__cards + .p-company__cards {
  @include mq(md) {
    margin-top: rem(60);
  }
}
.p-company__card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.p-company__card + .p-company__card {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    border-left: 0.5px solid #231815;
  }
}
.p-company__card:nth-child(3n) {
  @include mq(md) {
    border-right: 0.5px solid #231815;
  }
}
.p-company__card:first-child {
  @include mq(md) {
    border-left: 0.5px solid #231815;
  }
}
.p-company__card--last {
  @include mq(md) {
    position: relative;
  }
}
.p-company__card--last::before {
  @include mq(md) {
    position: absolute;
    content: "";
    width: rem(0.5);
    height: 100%;
    background: #231815;
    right: rem(-32);
  }
}
.p-company__img1 {
  max-width: rem(165);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-company__img1::before {
  padding-top: 48.48%;
  display: block;
  content: "";
}
.p-company__img1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__img2 {
  max-width: rem(274);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-company__img2::before {
  padding-top: 29.1797%;
  display: block;
  content: "";
}
.p-company__img2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__img3 {
  max-width: rem(274);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-company__img3::before {
  padding-top: 29.1797%;
  display: block;
  content: "";
}
.p-company__img3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__img4 {
  max-width: rem(165);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-company__img4::before {
  padding-top: 48.48%;
  display: block;
  content: "";
}
.p-company__img4 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__img5 {
  max-width: rem(165);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-company__img5::before {
  padding-top: 48.48%;
  display: block;
  content: "";
}
.p-company__img5 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__name {
  text-align: center;
  margin-top: auto;
  padding-top: rem(16);
}
.p-company__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
