@use "global" as *;

.p-company {
  padding-top: rem(80);
  padding-bottom: rem(70);
  position: relative;
  @include mq(md) {
    padding-top: rem(188);
  }
}
.p-company::before {
  content: "";
  position: absolute;
  background: #e9ea93;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.p-company__title-wrapper {
  text-align: center;
  @include mq(md) {
    margin-top: rem(-120);
  }
}
.p-company__title {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(250);
  @include mq(md) {
    max-width: rem(360);
  }
}
.p-company__title::before {
  padding-top: 22.9677%;
  display: block;
  content: "";
}
.p-company__title img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__content {
  background-color: $white;
  padding: rem(24) rem(16);
  border-radius: rem(10);
  margin-top: rem(-28);
  @include mq(md) {
    padding: rem(82) rem(52);
    border-radius: rem(32);
    margin-top: rem(-36);
  }
}
.p-company__subtitle-wrapper {
  text-align: center;
}
.p-company__subtitle {
  letter-spacing: 0.2em;
  color: #231815;
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: 700;
  @include mq(md) {
    font-size: rem(22);
    font-weight: 400;
  }
}
.p-company__cards {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(56);
    max-width: rem(920);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.p-company__cards + .p-company__cards {
  @include mq(md) {
    margin-top: rem(60);
  }
}
.p-company__card {
  display: flex;
  flex-direction: column;
  position: relative;
  @include mq(md) {
    width: calc(33.33333% - rem(40) * 2 / 3);
  }
}
.p-company__card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: rem(1);
  background: $black;
  bottom: rem(-16);
  @include mq(md) {
    width: rem(1);
    height: 100%;
    right: rem(-16);
    bottom: initial;
  }
}
.p-company__card:last-child::before {
  width: 0%;
  @include mq(md) {
    width: rem(1);
  }
}
.p-company__card:first-child::after {
  content: "";
  position: absolute;
  @include mq(md) {
    width: rem(1);
    height: 100%;
    background: $black;
    left: rem(-16);
  }
}
.p-company__card:nth-child(4)::after {
  content: "";
  position: absolute;
  @include mq(md) {
    width: rem(1);
    height: 100%;
    background: $black;
    left: rem(-16);
  }
}
.p-company__card:not(:nth-child(3n + 1)) {
  @include mq(md) {
    width: calc(33.33333% - rem(40) * 2 / 3);
    margin-left: rem(40);
  }
}
.p-company__card + .p-company__card {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-company__card:nth-child(n + 4) {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-company__card--last {
  @include mq(md) {
    position: relative;
  }
}
.p-company__img {
  max-width: rem(240);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-company__img::before {
  padding-top: 48.348%;
  display: block;
  content: "";
}
.p-company__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-company__name {
  text-align: center;
  margin-top: auto;
  padding-top: rem(16);
}
.p-company__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.p-company__block {
  margin-top: rem(48);
}
