@use "global" as *;

.p-contact {
  padding-top: rem(80);
  padding-bottom: rem(160);
  margin-bottom: rem(120);
  position: relative;
}
.p-contact::before {
  content: "";
  position: absolute;
  background: url(../images/common/bg-page-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: rem(80);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.p-contact__content {
}
.p-contact__text-wrapper {
  @include mq(md) {
    margin-left: rem(32);
  }
}
.p-contact__text {
  font-size: rem(16);
  color: #231815;
}
.p-contact__form {
  margin-top: rem(80);
}
