@use "global" as *;

.p-form {
  border: 1px solid #231815;
  padding: rem(16);
  @include mq(md) {
    padding: rem(32) rem(48);
  }
}
.p-form__row {
  @include mq(md) {
    display: flex;
    align-items: flex-start;
  }
}
.p-form__row + .p-form__row {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.p-form__title {
  @include mq(md) {
    width: rem(300);
    padding-top: rem(8);
    display: flex;
    align-items: center;
  }
}
.p-form__title label {
  font-size: rem(16);
  color: #231815;
  font-weight: 700;
  @include mq(md) {
    font-weight: 400;
  }
}
.p-form__input {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: initial;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.p-form__input--textarea {
  flex-direction: column;
}

.p-form__sex,
.p-form__date {
  @include mq(md) {
    width: 30%;
  }
}
.p-form__input--age {
  display: flex;
  align-items: center;
}
.p-form__age-after {
  margin-left: rem(16);
  display: inline-block;
}
.p-form__attention {
  margin-top: rem(8);
  font-size: rem(16);
  color: #231815;
}

.p-form__check-label:first-child {
  margin-right: rem(16);
}

.p-form__check-label + .p-form__check-label {
  margin-right: rem(16);
}
.p-form__check-label:last-child {
  margin-right: initial;
}
.p-form__check-text {
  font-size: rem(16);
  color: #231815;
  margin-top: rem(8);
}
.p-form__input--other {
  width: 80% !important;
}
.p-form__span {
  display: flex;
  align-items: center;
}
.p-form__button {
  margin-top: rem(40);
  text-align: center;
}
.p-form__button input {
  width: rem(220);
  font-size: rem(20);
  color: $white;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  background: $red;
  padding: rem(20) 0;
  border: 1px solid $red;
  transition: 0.3s;
}
.p-form__button input:hover {
  background: $white;
  color: $red;
}
.wpcf7-form-control-wrap {
  @include mq(md) {
    width: 100%;
  }
}
.has-free-text {
  display: inline-flex;
  margin-top: rem(6) !important;
  align-items: center;
}
.has-free-text label {
  width: rem(120);
}
.wpcf7-free-text {
  margin-left: rem(8);
}
.wpcf7-list-item.first {
  margin-left: initial;
}
.wpcf7-list-item {
  margin-left: initial;
  margin-right: rem(16);
}
.wpcf7-list-item label {
  display: flex;
  align-items: center;
}
.wpcf7-list-item-label {
  line-height: 0;
  padding-left: rem(4);
}
.p-form__required {
  color: $white;
  background: $red;
  font-size: rem(12);
  padding: rem(4) rem(8);
  border-radius: rem(4);
  margin-left: rem(16);
}
.p-form__required--gray {
  background-color: rgba($color: #231815, $alpha: 0.5);
}
.p-form__required--green {
  background: #8bc777;
}
.your-age,
.your-age2 {
  @include mq(md) {
    width: 15%;
  }
}
.wpcf7-form-control-wrap {
  display: block;
}
.wpcf7-form-control.wpcf7-checkbox {
  display: flex;
  flex-wrap: wrap;
}
span.wpcf7-list-item {
  position: relative;
  margin-top: rem(16);
  margin-right: rem(24);
}
.wpcf7-list-item-label {
  /*項目の色や文字サイズ*/
  color: #231815;
  cursor: pointer;
  font-size: rem(16);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0; /*既存のチェックボックスを見えなくする*/
}
.wpcf7-list-item-label:before {
  /*チェックボックスの枠*/
  content: "";
  border: 1px solid #231815;
  display: inline-block;
  width: rem(20);
  height: rem(20);
  position: relative;
  top: rem(-2);
  margin-right: rem(12);
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}
input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
  /*チェックアイコン*/
  content: "";
  display: block;
  position: absolute;
  top: rem(-4);
  left: rem(3);
  width: rem(20);
  height: rem(12);
  border-left: 2px solid #231815;
  border-bottom: 2px solid #231815;
  transform: rotate(-45deg);
}
.has-free-text input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
  /*チェックアイコン*/
  content: "";
  display: block;
  position: absolute;
  top: rem(7);
  left: rem(3);
  width: rem(20);
  height: rem(12);
  border-left: 2px solid #231815;
  border-bottom: 2px solid #231815;
  transform: rotate(-45deg);
}
