@use "global" as *;

.p-footer {
  padding-top: rem(70);
  padding-bottom: rem(70);
  position: relative;
}
.p-footer::before {
  content: "";
  position: absolute;
  background: url(../images/common/footer-top.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: rem(150);
}
.p-footer__content {
}
.p-footer__img {
  max-width: rem(468);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-footer__img::before {
  padding-top: 93.16%;
  display: block;
  content: "";
}
.p-footer__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-footer__lists {
  text-align: center;
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(64);
  }
}
.p-footer__list + .p-footer__list {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    margin-left: rem(92);
  }
}
.p-footer__link {
  text-transform: uppercase;
  font-size: rem(18);
  letter-spacing: 0.1em;
  color: #231815;
}
.p-footer__small-wrapper {
  text-align: center;
  color: #231815;
  margin-top: rem(48);
}
.p-footer__bottom {
  font-size: rem(22);
  letter-spacing: 0.1em;
}
.p-footer__small {
  font-size: rem(18);
}
