@use "global" as *;

.p-goods {
  padding-top: rem(75);
  padding-bottom: rem(70);
  position: relative;
}
.p-goods::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f7cf75;
  z-index: -1;
}
.p-goods__content {
}
.p-goods__title {
  font-size: rem(20);
  color: #ffef00;
  background-color: $red;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  padding: rem(12) 0;
  text-align: center;
  font-weight: 400;
  @include mq(md) {
    font-size: rem(34);
  }
}
.p-goods__img {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(40);
  }
}
