@use "global" as *;

.p-heart {
  padding-top: rem(70);
  position: relative;
  z-index: 1;
  padding-bottom: rem(40);
  background: $white;
  @include mq(md) {
    background: url(../images/common/bg-heart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: rem(70);
  }
}
.p-heart__content {
  text-align: center;
}
.p-heart__img {
  max-width: rem(257);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.p-heart__img::before {
  padding-top: 51.361%;
  display: block;
  content: "";
}
.p-heart__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-heart__text {
  letter-spacing: 0.075em;
  line-height: 1.5;
  color: #231815;
  margin-top: rem(8);
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(26);
  }
}
.p-heart__text--red {
  color: $red;
  letter-spacing: 0.075em;
  margin-top: rem(8);
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(38);
  }
}
