@use "global" as *;

.p-header {
  background: url(../images/common/bg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem(70);
  position: fixed;
  top: rem(-3);
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}
.p-header__nav {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.p-header__lists {
  display: flex;
  align-items: center;
  line-height: rem(70);
}
.p-header__list + .p-header__list {
  margin-left: min(rem(85), calc(85 / 1366) * 100vw);
}
.p-header__link {
  color: $red;
  font-size: rem(18);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.p-header__btn {
  display: inline-block;
  position: absolute;
  right: rem(20);
  top: 0;
  z-index: 10;
  width: rem(120);
  height: auto;
  @include mq(md) {
    width: min(rem(250), calc(250 / 1366) * 100vw);
    height: min(rem(100), calc(250 / 1366) * 100vw);
  }
}
