@use "global" as *;

.p-information {
}
.p-information__wrapper {
  @include mq(md) {
    max-width: rem(420);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.p-information__row {
  margin-top: rem(16);
  position: relative;
  @include mq(md) {
    display: flex;
    margin-top: rem(23);
  }
}
.p-information__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.p-information__time-wrapper {
  @include mq(md) {
    width: rem(100);
  }
}
.p-information__time {
  font-size: rem(17);
  color: $red;
}
.p-information__description-wrapper {
  @include mq(md) {
    width: calc(100% - rem(100));
    margin-left: rem(8);
  }
}
.p-information__description {
  font-size: rem(17);
  line-height: 1.4117;
  color: #2e2624;
}
