@use "global" as *;

.p-mv {
  background: url(../images/common/mv.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  height: min(rem(1100), calc(1100 / 1366) * 100vw);
  margin-top: rem(60);
  @include mq(md) {
    /* height: rem(1100); */
    margin-top: initial;
  }
}
