@use "global" as *;

.p-subject {
  padding-top: rem(70);
  padding-bottom: rem(70);
  position: relative;
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.p-subject::before {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    content: "";
    background: url(../images/common/heart-mark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: min(rem(140), calc(140 / 1440) * 100vw);
    height: min(rem(201), calc(201 / 1440) * 100vw);
    top: 36%;
    right: rem(10);
  }
}
.p-subject::after {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    content: "";
    background: url(../images/common/heart-mark-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: rem(84);
    height: rem(71);
    bottom: 7%;
    left: 5%;
  }
}
.p-subject__content {
  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.p-subject__text-wrapper {
  margin-top: rem(30);
}
.p-subject__text {
  line-height: 1.7272;
  color: #231815;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(22);
  }
}
.p-subject__img {
  max-width: rem(515);
  width: 100%;
  position: relative;
  margin-top: rem(16);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-left: rem(30);
    margin-top: initial;
    margin-right: initial;
  }
}
.p-subject__img::before {
  padding-top: 109.7%;
  display: block;
  content: "";
}
.p-subject__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-subject__description {
  padding-bottom: rem(24);
  border-bottom: 2px solid #231815;
  @include mq(md) {
    padding-bottom: initial;
  }
}
.p-subject__detail {
  margin-top: rem(20);
  @include mq(md){
    margin-top: rem(48);
  }
}
.p-subject__row {
  margin-top: rem(16);
  background-image: linear-gradient(to right, #231815 6px, transparent 4px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: right bottom;
  padding-top: rem(16);
  padding-bottom: rem(16);
  @include mq(md) {
    display: flex;
    align-items: center;
    padding-top: rem(24);
    padding-bottom: rem(24);
    margin-top: initial;
  }
}
.p-subject__title {
  @include mq(md) {
    width: rem(200);
  }
}
.p-subject__explain {
  @include mq(md) {
    width: calc(100% - rem(200));
    margin-left: rem(40);
  }
}
.p-subject__explain--top {
  background-image: linear-gradient(to right, $red 4px, transparent 4px);
  background-size: 12px 4px;
  background-repeat: repeat-x;
  background-position: right bottom;
  padding-bottom: rem(24);
}
.p-subject__explain--bottom {
  padding-top: rem(24);
}
.p-subject__btn {
  text-align: center;
  margin-top: rem(60);
}
.p-subject__btn-link {
  display: inline-block;
  width: rem(300);
  @include mq(md) {
    width: rem(382);
  }
}
.p-subject__pdf {
  display: inline-block;
  color: $white;
  background-color: $red;
  text-align: center;
  padding: rem(20) 0;
  width: 100%;
  margin-top: rem(16);
  margin-bottom: rem(16);
  @include mq(md) {
    font-size: rem(22);
    width: rem(320);
    margin-bottom: initial;
  }
}
